.background { 
    background-image: url(/ui/cover.jpg); 
    height: 95vh; 
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    color: black; 
    height: 730px; 
} 

.myButton { 
    background: transparent; 
    -moz-border-radius:28px; 
    border-radius:28px; 
    border:1px solid white; 
    display:inline-block; 
    cursor:pointer; 
    color:white; 
    font-family:Arial; 
    font-size:17px; 
    position: absolute;
    padding:6px ; 
    width: 110px;
    top: 50px;
    left: 50px;
} 
.myButton 
{ color: #0088cc; 
    border: 2px solid #0088cc; 
} 
.myButton:hover 
{ 
    background-color: #008CBA; 
    color: white; 
}


#signup
{
    left: 1050px;
    width: 200px;
    top: 30px;
}

#login
{
    left: 930px;
    top: 30px;
}
    













